.scroll-pane > .scroll-bar: horizontal{
    -fx-opacity:0.5;
}
.scroll-pane {
    -fx-background-color:#565661;
}
.HBox{
     -fx-background-color: black;
}
.starsRow{
    -fx-background-color:  #001f2f;
}
.scrollPane > .viewport {
   -fx-background-color: black;
}
.scrollPane{
    -fx-background-color: black;
}
.image{
    -fx-background-image: url("assets/design.png");
    -fx-background-repeat: none;
    -fx-background-size: 1318 764;
    -fx-background-position: center center;
}
.firstImage{
    -fx-background-size: 1536 864;
    -fx-background-image: url("assets/signIn.png");
    -fx-background-position: center center;
}